{% extends '../base.html' %}
{% block tab_title %}
  QUEUE
{% endblock %}
{% block bodycolor %}
  #FEFFF8
{% endblock %}
{% block queue_nav_link %}
  active
{% endblock %}
{% block content %}
<div class="container mw-100 p-5">
  <div class="d-flex justify-content-between gap-5 my-4 flex-wrap" style="padding-left:50px; padding-right: 50px;">
    <div class="me-3">
      {% include "./settings.html" %}
    </div>
  
    <div class="w-50">
      {% include "./queues.html" %}
    </div>
  </div>
</div>
{% endblock %}