{% extends '../base.html' %}
{% block tab_title %}
  QUEUE
{% endblock %}
{% block bodycolor %}
  #FEFFF8
{% endblock %}
{% block queue_nav_link %}
  active
{% endblock %}
{% block content %}
  <div class="container mw-100 p-0">
    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings"><i class="bi bi-gear-fill"></i></button>

    <div class="position-absolute top-30 start-0 collapse collapse-horizontal" id="collapseSettings">
      {% include './settings.html' %}
    </div>

    <div class="d-flex justify-content-around gap-5 my-4 flex-wrap">
      {% include './queues.html' %}
    </div>
  </div>
{% endblock %}