{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'queues/css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>ATTIC TOURS - QUEUE</title>
  </head>
  <body class="p-2">
    <div class="d-flex flex-column min-vh-100 g-0">
      <div class="p-3 mx-auto" style="height:fit-content; width:fit-content">
        <div class="container-fluid">
          <div class="row gx-5 gy-5">
            <div class="col-7">
              <div style="height: 30vw;">
                <iframe style="height: 100%;width: 100%;" src="https://www.youtube.com/embed/J9CFh5QJKHo?si=uzKGXpe35wjsBkRJ&amp;loop=1&amp;controls=0&amp;mute=1&amp;autoplay=1&amp;playlist=J9CFh5QJKHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
              </div>
              <div class="bg-danger mt-4">
                <p class="fs-1 fw-bold text-light text-center text-wrap">PLEASE TAKE A NUMBER AND WAIT FOR YOUR NUMBER TO BE CALLED</p>
              </div>
            </div>

            <div class="col-5 p-2">
              <div class="text-center" style="height: 12vw;">
                <img style="height: 90%;width: 70%;object-fit: cover;" src="{% static 'queues/img/attic_fairview_logo.png' %}" alt="attic_fairview_logo" />
              </div>

              <div class="bg-danger p-3 mh-100">
                <div>
                  <div class="bg-white w-75 mx-auto">
                    <p class="text-black text-center fw-bold fs-1">JAPAN VISA</p>
                  </div>
                  <p class="text-white text-center fw-bold" style="font-size: 12vw;transform:scaleY(1.2)" id="current_queue_number">0</p>
                </div>
                {% comment %} <p class="text-white text-center p-0 fw-bold fs-2">NUMBER</p> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="d-flex justify-content-center mt-auto">
        {% comment %} <div class="me-5">
          <img src="{% static 'queues/img/qr_code.png' %}" alt="qr_code" height="100" width="100" />
        </div> {% endcomment %}
        <p class="fs-2">LIKE OUR FB PAGE @ATTIC TOURS SM FAIRVIEW</p>
      </footer>
    </div>
  </body>
</html>
<script src="
https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
"></script>
<script src="{% static 'queues/js/queue_number_loader.js' %}"></script>
<script>
  const endpoint = "{% url 'queues:japan_queue_number' %}"
  const interval = 1_000
  const DomID = 'current_queue_number'
  const hasCallVoice = true
  updateQueueNumber(endpoint, interval, DomID, hasCallVoice)
</script>
