{% extends './base.html' %}
{% load static %}
{% block queues %}
  active
{% endblock %}
{% block title %}
  QUEUE
{% endblock %}
{% block content %}
  <div class="row g-5 p-5 pb-0">
    <div class="col-6">
      <div class="w-5 mx-auto">
        <div class="row">
          <div class="bg-danger pt-3 mh-100 mx-50">
            <div>
              <div class="bg-white w-75 mx-auto">
                <p class="text-black text-center fw-bold fs-1">JAPAN VISA</p>
              </div>
              <p class="text-white text-center fw-bold" style="font-size: 12vw;transform:scaleY(1.2)" id="current_japan_queue_number">0</p>
            </div>
            <div class="text-white text-center p-0 fw-bold fs-2">
              <p>NOW SERVING</p>
              <p id="current_japan_window_number"></p>
            </div>
            <div class="row p-2 justify-content-between" style="background-color: #981b27;">
              <div class="row p-2 justify-content-between">
                <div class="col-8">
                  <select class="form-select" aria-label="Default select example" id="japan_windows"></select>
                </div>

                <button type="button" class="col-4 btn btn-light" onclick="onSetJapanButtonClick(this)">SET</button>
              </div>

              <button type="button" class="col-4 btn btn-secondary" onclick="onBackJapanButtonClick(this)">BACK</button>

              <button type="button" class="col-4 btn btn-warning" onclick="onCallJapanButtonClick(this)">CALL</button>

              <button type="button" class="col-4 btn btn-primary" onclick="onNextJapanButtonClick(this)">NEXT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="w-5 mx-auto">
        <div class="row">
          <div class="bg-danger pt-3 mh-100 mx-50">
            <div>
              <div class="bg-white w-75 mx-auto">
                <p class="text-black text-center fw-bold fs-1">KOREA VISA</p>
              </div>
              <p class="text-white text-center fw-bold" style="font-size: 12vw;transform:scaleY(1.2)" id="current_korea_ticket_queue_number">0</p>
            </div>
            <div class="text-white text-center p-0 fw-bold fs-2">
              <p>NOW SERVING</p>
              <p id="current_korea_ticket_window_number"></p>
            </div>
            <div class="row p-2 justify-content-between" style="background-color: #981b27;">
              <div class="row p-2 justify-content-between">
                <div class="col-8">
                  <select class="form-select" aria-label="Default select example" id="korea_windows"></select>
                </div>

                <button type="button" class="col-4 btn btn-light" onclick="onSetKoreaTicketButtonClick(this)">SET</button>
              </div>

              <button type="button" class="col-4 btn btn-secondary" onclick="onBackKoreaTicketButtonClick(this)">BACK</button>

              <button type="button" class="col-4 btn btn-warning" onclick="onCallKoreaTicketButtonClick(this)">CALL</button>

              <button type="button" class="col-4 btn btn-primary" onclick="onNextKoreaTicketButtonClick(this)">NEXT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="text-end pe-5">
    <a href="{% url 'queues:customer_queue' %}" style="text-decoration: none;" target="_blank">APPLICANT VIEW</a>
  </p>
  <script>
    // japan
    function onNextJapanButtonClick(event) {
      var e = document.getElementById('japan_windows')
      var value = e.value
      var data = { window_id: value }
      var json = JSON.stringify(data)
    
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:increase_japan_queue_number'%}")
      xhttp.send(json)
      event.blur()
    }
    function onBackJapanButtonClick(event) {
      var e = document.getElementById('japan_windows')
      var value = e.value
      var data = { window_id: value }
      var json = JSON.stringify(data)
    
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:decrease_japan_queue_number'%}")
      xhttp.send(json)
      event.blur()
    }
    function onCallJapanButtonClick(event) {
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:call_japan_applicant'%}")
      xhttp.send()
      event.blur()
    }
    function onSetJapanButtonClick(event) {
      var e = document.getElementById('japan_windows')
      var value = e.value
      var data = { window_id: value }
      var json = JSON.stringify(data)
    
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:set_japan_window'%}")
      xhttp.send(json)
      event.blur()
    }
    
    // korea
    function onNextKoreaTicketButtonClick(event) {
      var e = document.getElementById('korea_windows')
      var value = e.value
      var data = { window_id: value }
      var json = JSON.stringify(data)
    
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:increase_korea_ticket_queue_number'%}")
      xhttp.send(json)
      event.blur()
    }
    function onBackKoreaTicketButtonClick(event) {
      var e = document.getElementById('korea_windows')
      var value = e.value
      var data = { window_id: value }
      var json = JSON.stringify(data)
    
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:decrease_korea_ticket_queue_number'%}")
      xhttp.send(json)
      event.blur()
    }
    function onCallKoreaTicketButtonClick(event) {
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:call_korea_ticket_applicant'%}")
      xhttp.send()
      event.blur()
    }
    function onSetKoreaTicketButtonClick(event) {
      var e = document.getElementById('korea_windows')
      var value = e.value
      var data = { window_id: value }
      var json = JSON.stringify(data)
    
      const xhttp = new XMLHttpRequest()
      xhttp.open('PUT', "{% url 'queues:set_korea_ticket_window'%}")
      xhttp.send(json)
      event.blur()
    }
  </script>
  <script src="{% static 'queues/js/utils.js' %}"></script>
  <script>
    const endpoint = "{% url 'queues:japan_korea_ticket_queue' %}"
    const japan_queue_number_dom_id = 'current_japan_queue_number'
    const japan_window_number_dom_id = 'current_japan_window_number'
    const korea_ticket_queue_number_dom_id = 'current_korea_ticket_queue_number'
    const korea_ticket_window_number_dom_id = 'current_korea_ticket_window_number'
    const windows_id = { japan: 'japan_windows', korea: 'korea_windows' }
    const audio_id = null
    caller(endpoint)
    
    // observer params
    /*
                  japan_queue_number_dom_id, 
                  japan_window_number_dom_id, 
                  korea_ticket_queue_number_dom_id,
                  korea_ticket_window_number_dom_id,
                  windows_id, 
                  audio_id
                  */
    observer(japan_queue_number_dom_id, japan_window_number_dom_id, korea_ticket_queue_number_dom_id, korea_ticket_window_number_dom_id, windows_id, audio_id)
  </script>
{% endblock %}
