{% extends './base.html' %}
{% load static %}
{% block queues %}
  active
{% endblock %}
{% block title %}
  QUEUE
{% endblock %}
{% block content %}
  <div class="container mt-1">
    <h1 class="fw-light m-3 text-center">QUEUES</h1>
    <label class="d-block text-center fw-bold p-2 m-2">Branch:<select style="width: 25%; font-size: 20px;" id="branches" name="branches"></select></label>
    <div class="d-flex justify-content-around flex-wrap gap-5" id="queue_container">
      <div class="m-5" id="loading">
        <img src="{% static 'queues/img/loading.gif' %}" width="100" height="100" />
      </div>
    </div>
    <div class="m-5 text-center">
      <h2>APPLICANT'S VIEW</h2>
      <ul style="list-style-type: none;">
        <li><a href="{% url 'queues:applicant_queue' branch_name='SM FAIRVIEW' %}" target="_blank">SM FAIRVIEW APPLICANT VIEW</a></li>
        <li><a href="{% url 'queues:applicant_queue' branch_name='SM MOA' %}" target="_blank">SM MOA APPLICANT VIEW</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
