@charset "utf-8";

.newsfeed-scroll-container {
    height: 9vh;
    background-color: #CD3F3F;
    display: flex;
    align-items: center;
}

.newsfeeds-container {
    left: 100%;
    width: 100%;
    overflow: visible;
    position: absolute;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    
    animation: scroll-horizontal 50s linear infinite;
    gap: 100px;
}

.newsfeeds-container p {
    margin: 0;
}

@keyframes scroll-horizontal {
    0% {
        left: 100%;
    }

    100% {
        left: -200%;
    }
}